@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:1em;font-family:'Noto Sans KR', dotum, sans-serif;background:#fff}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}

table, th, td {font-family:'Noto Sans KR', dotum, sans-serif;font-size:0.95em;}
label, input, button, select, img {vertical-align:middle;}

/* paging */
.page-item {
   font-size:0.95em;
}
/* placeholder 스타일 지정 #08c */
input[type=text]::placeholder {
  color: #a0a0a0;
  opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
}
input[type=text]::-webkit-input-placeholder {
  color: #a0a0a0;
}
/* IE */
input[type=text]:-ms-input-placeholder {
  color: #a0a0a0;
}
/* Firefox */
input[type=text]:-mos-input-placeholder {
  color: #a0a0a0;
}

/* 상단
.bg-blue {background-color:#335eea !important;}
.navbar-light .navbar-nav .nav-link {color: #fff;} 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: #fff;} 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color: #fff;} */
.txt-l{
	text-align: left;
}

.txt-c{
	text-align: center;
}

.txt-r{
	text-align: right;
}

.hover1:hover {
	color: #0000FF;
	cursor: pointer;
}
